@model IEnumerable<APLICACAO_FGF.Models.Produto>


@{
    ViewData["Title"] = "Index";
}

<h1>Produto Não Encontrado</h1>

<p>
    <label for="Id" class="control-label fw-bold">Produto não Cadastrado</label> 
    
    <div>
    <a asp-action="Index">Retornar</a>
</div>
